<div class="items-center w-full h-full flex flex-col register-page py-12">
  <a [routerLink]="['../..']"
    ><img src="assets/img.png" class="w-24" alt="logo"
  /></a>

  <h1 class="text-2xl my-6">Want to register?</h1>

  <div
    class="register-window register-window-top w-11/12 border-blue-400 border-2 mx-auto flex flex-col items-center max-w-sm"
  >
    <form
      [formGroup]="registerForm"
      (ngSubmit)="register()"
      class="flex flex-col my-10"
    >
      <mat-form-field class="form-field">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="text"
          placeholder="Email"
          formControlName="email"
        />
      </mat-form-field>
      <div
        *ngIf="registerForm.controls['email'].errors && isSubmitted"
        class="error"
      >
        <mat-hint
          class="text-red-600 block"
          *ngIf="registerForm.controls['email'].errors['minlength']"
          >Email should be at least 3 characters long</mat-hint
        >

        <mat-hint
          class="text-red-600 block"
          *ngIf="registerForm.controls['email'].errors['email']"
          >Email should contain @ symbol</mat-hint
        >
      </div>

      <mat-form-field class="mt-4">
        <mat-label>Username</mat-label>
        <input
          matInput
          type="text"
          placeholder="Username"
          formControlName="username"
        />
      </mat-form-field>
      <div
        *ngIf="registerForm.controls['username'].errors && isSubmitted"
        class="error"
      >
        <mat-hint
          class="text-red-600 block"
          *ngIf="registerForm.controls['email'].errors['minlength']"
          >Email should be at least 5 characters long</mat-hint
        >
      </div>

      <mat-form-field class="mt-4">
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          placeholder="Password"
          formControlName="password"
        />
      </mat-form-field>
      <div
        *ngIf="registerForm.controls['password'].errors && isSubmitted"
        class="error"
      >
        <mat-hint
          class="text-red-600 block"
          *ngIf="registerForm.controls['email'].errors['minlength']"
          >Email should be at least 8 characters long</mat-hint
        >
      </div>

      <mat-form-field class="mt-4">
        <mat-label>Confirm password</mat-label>
        <input
          matInput
          type="password"
          placeholder="Confirm password"
          formControlName="confirmPassword"
        />
      </mat-form-field>

      <div
        *ngIf="registerForm.controls.confirmPassword?.errors?.passwordMismatch"
        class="error text-red-600"
      >
        Passwords doesn't match
      </div>

      <button type="submit" mat-flat-button class="register-button">
        Register
      </button>
    </form>
  </div>
</div>
