<div class='items-center w-full h-full flex flex-col login-page py-12'>

  <a [routerLink]="['../..']"><img src='assets/img.png' class='w-24' alt='logo'></a>

  <h1 class="text-2xl my-6">Sign in to blog</h1>

  <div
  class="login-window w-11/12 h-1/3  border-blue-400  border-2 mx-auto flex flex-col items-center max-w-sm"
>
  <form [formGroup]="loginForm" (ngSubmit)="login()" class='flex flex-col my-10'>
    <mat-form-field class='form-field'>
      <mat-label>Email</mat-label>
      <input
        matInput
        type="text"
        formControlName="email"
        class='login-input'
      />
      <mat-hint *ngIf="loginForm.controls['email'].errors" class='text-red-600'>Email required</mat-hint>

    </mat-form-field>


    <mat-form-field class='form-field'>
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        formControlName="password"
        class='login-input'
      />
      <mat-hint *ngIf="loginForm.controls['password'].errors" class='text-red-600'>Password required</mat-hint>
    </mat-form-field>


    <button type="submit" [disabled]='loginForm.invalid' mat-flat-button class='login-button bg-blue-700'>Login</button>

  </form>



</div>


  <div class="login-window w-11/12 h-16 my-6  border-blue-400  border-2 mx-auto flex flex-col items-center max-w-sm justify-center">
    <span>New to my blog?  <a [routerLink]="['..', 'register']" class='text-blue-400'>Change it now!</a></span>

  </div>
</div>
