<div class='items-center w-full h-full flex'>

<div
  class="bg-stone-900 text-stone-200 w-11/12 h-1/2 border-2 border-stone-200 mx-auto flex flex-col items-center max-w-xl"
>
  <h1 class="text-2xl my-2">Login page</h1>
  <form [formGroup]="loginForm" (ngSubmit)="login()" class='flex flex-col my-10'>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input
        matInput
        type="text"
        formControlName="email"
        class='login-input'
      />
      <mat-hint *ngIf="loginForm.controls['email'].errors" class='text-red-600'>Email required</mat-hint>

    </mat-form-field>


    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        formControlName="password"
      />
      <mat-hint *ngIf="loginForm.controls['password'].errors" class='text-red-600'>Password required</mat-hint>
    </mat-form-field>


    <button type="submit" [disabled]='loginForm.invalid' mat-flat-button class='login-button'>Login</button>
    <a [routerLink]="['..', 'register']">Doesn't have an account yet?</a>
    <a [routerLink]="['../..']">Back</a>

  </form>


</div>
</div>
