<div
  class="bg-stone-900 text-stone-200 w-1/2 h-1/2 border-2 border-stone-200 mx-auto flex flex-col items-center"
>
  <h1 class="text-xl">Login page</h1>
  <form [formGroup]="loginForm" (ngSubmit)="login()" class='flex flex-col'>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input
        matInput
        type="text"
        placeholder="Email"
        formControlName="email"
      />
      <mat-hint *ngIf="loginForm.controls['email'].errors">Email required</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        placeholder="Password"
        formControlName="password"
      />
      <mat-hint *ngIf="loginForm.controls['password'].errors">Password required</mat-hint>
    </mat-form-field>


    <button type="submit" [disabled]='loginForm.invalid' mat-flat-button class='login-button'>Login</button>


  </form>

  <a href='#' routerLink='../register'>Doesn't have an account yet?</a>

</div>
